body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(1, 243, 211, 0.418);
}

div{
   background-color: rgb(#df7277, rgb(144, 255, 150), rgb(109, 176, 240));
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 80x;
   border-radius: 15px;
   color: rgb(147, 127, 240);
}




