body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(247, 88, 247, 0.418);
}

div{
   background-color: rgb(#00ffbf, rgb(144, 255, 150), rgb(109, 176, 240));
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}




